header.header {
    font-weight: bold;
    background-color: #0C00FF;
    text-align: center;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/70/39/9057b67a09a1f1d.jpg");
}

nav.navbar {
    text-align: center;
    height: 150px;
    width: 150px;
}