header.header {
    font-weight: bold;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
    width: px;
}

body#body {
    border-color: black;
    background-color: #f5f5f5;
    background-image: url("https://wallpaperaccess.com/full/1902985.jpg");
    font-family: 'Roboto', sans-serif;
    background-repeat: round;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    
}

nav.navbar {
    nav-right: auto;
    background-color: rgb(30, 0, 255);
    border-radius: 700cm;
    border-color: black;
    align-content: flex-end;
}

div.contact {
    align-items: center;
    height: 150px;
    width: 150px;
}

h1#name {
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: ui-monospace;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: aqua;
}

img#photo {
    left:840px;
 top:42px;
 position:absolute;
}

a#button1 {
    background-color: rgb(30, 0, 255);
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

a#button2 {
    background-color: rgb(30, 0, 255);
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

a#button3 {
    background-color: rgb(30, 0, 255);
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

h1#name {
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: ui-monospace;
    padding-left: 10cm;
    padding-bottom: 60cm;
}