header.header {
    text-align: center;
    background-repeat: no-repeat;
    
}

body#body {
    background-image: url("");
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: black;
    
}

nav.navbar {
    nav-right: auto;
    background-color: rgb(30, 0, 255);
    border-radius: 60cm;
    align-content: flex-end;
}

div.contact {
    align-items: center;
    height: 150px;
    width: 150px;
}

h1#name {
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: ui-monospace;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: aqua;
}

img#photo {
    left: 855px;
 top: 0px;
 position:absolute;
 z-index: 10;

 
}

a#button1 {
    background-color: rgb(30, 0, 255);
    border: none;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

a#button2 {
    background-color: rgb(30, 0, 255);
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

a#button3 {
    background-color: rgb(30, 0, 255);
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}


div.Who {
    background-color: rgb(30, 0, 255);
    border-radius: 12px;
    border-color: black;
    align-content: flex-end;
    padding: 20px;
    padding-left: 10cm;
    padding-right: 10cm;
    padding-top: 5cm;
    padding-bottom: 5cm;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.Iam {
    background-color: rgb(161, 161, 161);
    background-image: url();
    border-color: black;
}

h2#name {
    font-size: 50px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h5#para {
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

div.titleVibe {
    border: px solid black;
    border-radius: 12px;
    background: no-repeat url(https://i.pinimg.com/originals/fd/b2/1c/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif);
    
}

h1#name {
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: ui-monospace;
    padding-left: 10cm;
    padding-bottom: 9cm;
}

h2#tit {
    size: 50cm;
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: ui-monospace;
    padding-left: 10cm;
    padding-bottom: 1cm;
    padding-top: -10cm;
}

div.content {
    top: -17px;
    width: 250px;
   border: 2px solid red;
   text-align: center;
    background-color: rgb(30, 0, 255);
    border-radius: 12px;
    border-color: black;
    align-content: flex-end;
    padding: 20px;
    padding-left: 5cm;
    padding-right: 5cm;
    padding-top: 5cm;
    padding-bottom: 5cm;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 10;
    position: relative;
    border-color: blueviolet;
    border-spacing: 50mm;
}

h1#whoI {
    font-size: 50px;
    color: white;
    text-align: left;
    font-family: ui-monospace;
    text-align:  center;
}

div.travail {
    top: -13cm;
    float: right;
    width: 250px;
   border: 2px solid red;
   text-align: center;
   background-color: #69448e;
    border-radius: 12px;
    border-color: black;
    align-content: flex-end;
    padding: 20px;
    padding-left: 5cm;
    padding-right: 5cm;
    padding-top: 5cm;
    padding-bottom: 5cm;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 10;
    position: relative;
    border-color: blueviolet;
    border-spacing: 50mm;
    
}

img#htmlcss {
    height: 150px;
}

img#vue {
    height: 150px;
}

img#laravel {
    height: 150px;
}

div.mesprojets {
    bottom: -6cm;
    background-color: rgb(30, 0, 255);
    border-radius: 12px;
    border-color: black;
    align-content: flex-end;
    padding: 20px;
    padding-left: 10cm;
    padding-right: 5cm;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    border-color: blueviolet;
    border-spacing: 50mm;
}

h1#titleproject {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: ui-monospace;
    text-align:  center;
}

img#git {
    height: 150px;
}